{
  "presets": [
    "expo"
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "~",
            "rootPathSuffix": "./src"
          },
          {
            "rootPathPrefix": "#",
            "rootPathSuffix": "./src/components"
          },
          {
            "rootPathPrefix": "$",
            "rootPathSuffix": "./assets"
          }
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-react-jsx-source"]
    }
  }
}
